/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");

/* Styles */
body {
  background-color: #f4f4f4;
  font-family: arial;
  margin: 0;
  padding: 0; /* Espaçamento interno */
}
header {
  background-color: rgba(255, 255, 255, 0.4);
  color: #333;
  text-align: center;
  padding: 20px;
  border: 1px solid #3333333d; /* Borda */
  box-shadow: 5px 5px 15px rgba(50, 50, 50, 0.4);
  border-radius: 15px; /* Bordas arredondadas */
}
h1 {
  font-family: "crafty girls", cursive;
  font-size: 50px;
  color: #333;
  margin-bottom: auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
h2 {
  font-family: "Playwrite IT Moderna", cursive;
  margin-bottom: auto;
  font-size: 25px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
  text-align: center !important;
}
h3 {
  font-family: "Newsreader", cursive;
  margin-bottom: auto;
  font-size: 20px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  text-align: center;
}
p {
  font-family: "Playwrite DE Grund", cursive;
  color: #333;
}
.text-container {
  border: 1px solid #33333348;
  padding: 20px;
  margin: 10px; /* Espaçamento externo */
  background-color: #ffffffe5;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
}
button {
  background-color: #3333331a;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: #333;
  font-family: "Langar";
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}
